html {
  height: 100%;
  width: 100%;
}
.field{
    display: inline-block;
}

body{
  background-image: url("https://i.imgur.com/vd2AcHE.png");
    background-size: 40%;
    background-repeat: no-repeat;
    position: relative;
    height: 50%;
    background-attachment: fixed;
}
body::before{
    height: 200%;
    width: 100.35%;
     background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0%;
    left: 0%;
    content: "";

} 
body p{
  position: relative;
  z-index: 1;
}
body h4{
  position: relative;
  z-index: 1;
}
body img{
  position: relative;
  z-index: 1;
}
body a{
  position: relative;
  z-index: 1;
}
body pre{
  position: relative;
  z-index: 1;
}
body hr{
  position: relative;
  z-index: 1;
}
body h2{
  position: relative;
  z-index: 1;
}
body h1{
  position: relative;
  z-index: 1;
}
iframe{
position: relative;
z-index: 1;
}


.button{
  background-color: #bb00ff; /* Green */
  border: none;
  color: purple;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button{
  background-color: #806a00; 
  color: #000000; 
  border: 2px solid #ffffff;
  font-size: 16px;
}

.button:hover {
  background-color: #000000;
  color: white;
    border: 5px solid #806a00;
  font-size: 20px;
}

.button {width: 50%;}
.button {border-radius: 12px;}

.text4 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #9d9b9b;
}
